table.issues th[title*="Tracker"],
table.issues th[title*="Status"],
table.issues th[title*="Priority"],
table.issues th[title*="Subject"],
table.issues th[title*="Target version"],
table.issues th[title*="Author"],
table.issues th[title*="Assignee"]
{
  text-align: left;  
}

table.issues td.tracker,
table.issues td.status,
table.issues td.fixed_version,
table.issues td.author,
table.issues td.assigned_to
{
  max-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

table.issues td.fixed_version
{
  max-width: 10em;
}
